/* colours */
:root {
  --primary: #0277bd;
  --secondary: #039be5;
  --accent: #f57c00;
  --text-color: #333;
}

/* layout styles */
nav {
  background: var(--primary);
  border-bottom: 4px solid var(--secondary);
}

nav a {
  text-transform: uppercase;
  color: #fff;
}

nav a span {
  font-weight: bold;
}

/* classroom list styles */
.classrooms {
  margin-top: 20px;
}

.classroom {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 8px;
}

.classroom-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.classroom-title {
  font-weight: bold;
  color: var(--primary);
}

.classroom-location {
  color: var(--text-color);
}

/* search button styles */
.search-btn {
  background: var(--accent) !important;
}

/* search form styles */
.side-form h6 {
  color: var(--primary);
}

.side-form button {
  background: var(--accent);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* Additional styles for responsiveness (adjust as needed) */
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
}
